<div class="spec-navigation-bar">
    <div class="spec-navigation-bar__item center full">
        <img src="img/logo.headspring.png" class="logo" /><h1 class="spec-navigation-bar__title">EMPLOYEE DIRECTORY</h1>
    </div>
</div>
<div class="search-bar">
    <input ng-model="query" type="search" placeholder="search" class="spec-search-input search-key">
</div>

<div class="container" style="top: 5px; margin-bottom: 10px;">
	<ul class="list-inline">
		<li ng-repeat="contact in contacts | filter:query | orderBy:orderProp" class="col-xs-3" >
			<a ng-click="go('/contacts/' + contact.id)" >
				<img ng-src="img/{{contact.img}}" class="img-rounded">
				<h4 class="fpgName">{{contact.firstName}}<br/>{{contact.lastName}}</h4>
				<h6 class="title">{{contact.title}}</h6>
			</a>
		</li>
	</ul>
</div>

<div class="container">
	<button class="btn btn-success btnPos" >
		<a class="#/add" >Create A New User <i class="icon-user"></i></a>
	</button>
</div>
<!--<div class="btnPos">
	<button class="btn btn-success" ng-click="addContact()" >
	<i class="glyphicon glyphicon-user-add"></i>  Create A New User</a>
	</button>
</div>-->