<div class="spec-navigation-bar">
    <div class="spec-navigation-bar__item center full">
        <a href="#" ng-click="goBack()"><img src="img/logo.headspring.png" class="logo" /></a>
		<h1 class="spec-navigation-bar__title">EMPLOYEE DIRECTORY</h1>
    </div>
</div>
<div class="full-width">
	<a href="" class="backNav" ng-click="back()"><span class="glyphicon glyphicon-chevron-left"></span> BACK</a>
</div>
<div class='details'>
	

<div class="contact-image_bg"><img ng-src="img/{{contact.img}}" class="contact-image">
    <h1><strong><a href="#" editable-text="contact.firstName" id="firstName" >{{contact.firstName || 'empty' }}</a>
	<a href="#" editable-text="contact.lastName" id="lastName" data-pk="{{contact.id}}">{{contact.lastName || 'empty' }}</a></strong></h1>
    <h2><a href="#" editable-text="contact.title" id="title" data-pk="{{contact.id}}">{{contact.title || 'empty' }}</a></h2>
    <h2><a href="#" editable-text="contact.city" id="city" data-pk="{{contact.id}}">{{contact.city || 'empty' }}</a></h2>
</div>
<div class="spec-list__container">
	<ul class="spec-list list actions">
		<li class="spec-list__item" ng-show="contact.managerId">
		<h2>Manager</h2>
		<p><a editable-text="contact.managerName" id="managerName" data-pk="{{contact.id}}">{{contact.managerName || 'empty' }}</a> - <a ng-click="go('contacts/' + contact.managerId)">View<div class="action-icon icon-manager"/></a></p>
		</li>
		<li class="spec-list__item" ng-show="contact.reports">
		<h2>Direct Reports</h2>
		<p><a editable-text="contact.reports" id="reports" data-pk="{{contact.id}}">{{contact.reports}}</a> - <a ng-click="go('contacts/' + contact.id + '/reports')" >View<div class="action-icon icon-reports"/></a></p>
		</li>
		<li class="spec-list__item" ng-show="contact.officePhone">
		<h2>Office Phone</h2>
		<p><a editable-text="contact.officePhone" id="officePhone" data-pk="{{contact.id}}">{{contact.officePhone || 'empty' }}</a> - 
		<a href="tel:{{contact.officePhone}}" id="officePhone" data-pk="{{contact.id}}">Call<div class="action-icon icon-call"/></a>
		</li>
		<li class="spec-list__item" ng-show="contact.cellPhone" data-pk="{{contact.id}}">
		<h2>Cell Phone</h2>
		<p><a editable-text="contact.cellPhone" id="cellPhone" data-pk="{{contact.id}}">{{contact.cellPhone || 'empty' }}</a> - 
		<a href="tel:{{contact.cellPhone}}">Call<div class="action-icon icon-call"/></a>
		</li>
		<li class="spec-list__item" ng-show="contact.cellPhone">
		<h2>SMS</h2>
		<p><a editable-text="contact.cellPhone" data-pk="{{contact.id}}">{{contact.cellPhone || 'empty' }}</a> - 
		<a href="sms:{{contact.cellPhone}}">Text<div class="action-icon icon-sms"/></a>
		</li>
		<li class="spec-list__item" ng-show="contact.email">
		<h2>E-mail</h2>
		<p><a editable-text="contact.email"  id="email" data-pk="{{contact.id}}">{{contact.email || 'empty' }}</a> - 
		<a href="mailto:{{contact.email}}">Send Mail<div class="action-icon icon-mail"/></a>
		</li>
		<li class="spec-list__item" ng-show="contact.twitterId">
		<h2>Twitter</h2>
		<p><a editable-text="contact.twitterId"  id="twitterId" data-pk="{{contact.id}}">{{contact.twitterId || 'empty' }}</a> - 
		<a href="{{contact.twitterId}}">Tweet<div class="action-icon icon-twitter"/></a>
		</li>
	</ul>
</div>
<!---->
</div>
<div class="btnBox">
<button class="btn btn-danger" ng-click="delContact(contact.id)">
	<span class="glyphicon glyphicon-trash"></span>  Delete Contact
</button>
</div>             