<div class="spec-navigation-bar">
    <div class="spec-navigation-bar__item center full">
        <a href="#" ng-click="goBack()"><img src="img/logo.headspring.png" class="logo" /></a>
		<h1 class="spec-navigation-bar__title">DIRECT REPORTS</h1>
    </div>
</div>
<div class="full-width">
	<a href="" class="backNav" ng-click="back()"><span class="glyphicon glyphicon-chevron-left"></span> BACK</a>
</div>
<div class="spec-list__container" style="top:69px;">

    <ul class="spec-list list">
        <li ng-repeat="contact in contacts | filter:query | orderBy:orderProp" class="list__item">
            <a ng-click="go('/contacts/' + contact.id)">
                <img ng-src="img/{{contact.img}}">
                <p>{{contact.firstName}} {{contact.lastName}}</p>
                <p>{{contact.title}}</p>
                <span class="chevron"></span><span class="count">{{contact.reports}}</span>
            </a>
        </li>
    </ul>

</div>